
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0; /*light grey */
}

#game-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flag-img {
    width: 50%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#guess {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
